<!DOCTYPE html>
<html>
<head>
    <title>Bản đồ tìm đường</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <style>
        #map { height: 100vh; }
        #controls {
            position: absolute;
            top: 10px;
            right: 10px;
            background: rgba(255, 255, 255, 0.9);
            padding: 10px;
            z-index: 1000;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        }

        #controls input, #controls button {
            display: block;
            margin-top: 5px;
            width: 200px;
        }
    </style>
</head>
<body>
    <div id="controls">
            <input id="addressInputStart" placeholder="Nhập địa chỉ"></input>
            <input id="addressInputEnd" placeholder="Nhập địa chỉ"></input>
            <button id="a-star">Tìm đường A-Star</button>
            <button id="ucs">Tìm đường UCS</button>
    </div>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
